<!DOCTYPE html>
    <html lang="pt-BR">
        <head>
            <meta charset="UTF-8">
            <title>Login</title>
        </head>
        <body>

        {% for message in messages %}
        <script>
            alert("{{message}}")
        </script>
        {% endfor %}

            <form method="POST" action="{% url 'login' %}">

                {% csrf_token %}

                <input type="email" name="email">
                <input type="password" name="senha">

                <button type="submit">Entrar</button>
            </form>
        </body>
</html>